<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
</head>
<body>
<h1>Produkty</h1>
<table >
    <thead>
    <tr>
        <th>Nazwa produktu</th>
        <th>Cena</th>
        <th>Do koszyka</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td><strong>{{ product.nazwa }}</strong></td>
            <td>{{ product.cena }} zł</td>
            <td>

                <button type="button">Dodaj do koszyka</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
