<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %}Moja strona{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
